$bg:			#FFFFFF;
$margins:		#FFFFFF;
$nav-color:		#c0c0c0;
$tab-color:		#5e5e5e;
$text-color:	#000000;
$h1-color:		#000000;
$h2-color:		#000000;
$h3-color:		#000000;
$h4-color:		#000000;
$h5-color:		#000000;
$h6-color: 		#000000;
$strong-color:	#000000;
$em-color:		#000000;
$quote-color:	#789922;
$quote-bg:		#FFFFFF;
$link:			#0000EE;
$visited-link:	#551A8B;
