.container {
	width: calc(100% - 10px);
	max-width: 1200px;
	padding-left: 5px;
	padding-right: 5px;

	@media screen and (min-width: $small-screen) {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}

	@media screen and (min-width: $large-screen) {
		width: 60%;
		padding-left: 5%;
		padding-right: 5%;
		margin-left: auto;
		margin-right: auto;
	}
}
