h1 {
	color: $h1-color;
	* {
		color: $h1-color;
		text-decoration: none;
	}
}

h2 {
	color: $h2-color;
	* {
		color: $h1-color;
		text-decoration: none;
	}
}

h3 {
	color: $h3-color;
	* {
		color: $h1-color;
		text-decoration: none;
	}
}

h4 {
	color: $h4-color;
	* {
		color: $h1-color;
		text-decoration: none;
	}
}

h5 {
	color: $h5-color;
	* {
		color: $h1-color;
		text-decoration: none;
	}
}

h6 {
	color: $h6-color;
	* {
		color: $h1-color;
		text-decoration: none;
	}
}
