#nav-wrapper {
	$nav-height: 3em !default;

	display: flex;
	position: sticky;
	top: 0;
	background: $nav-color;
	height: $nav-height;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media screen and (max-width: calc(#{$nav-collapse} - 1px)) {
			padding: 0;
		}
	}

	#menu {
		cursor: pointer;
	}

	#menu-checkbox {
		display: none;
	}

	#menu-checkbox:checked {
		~ #menu #open-menu {
			display: none;
		}
	}

	#menu-checkbox:not(:checked) {
		~ #menu #close-menu {
			display: none;
		}

		~ nav {
			height: 0;
		}
	}

	nav {
		display: flex;
		position: fixed;
		top: $nav-height;
		flex-direction: column;
		align-items: center;
		background: $nav-color;
		height: calc(100vh - #{$nav-height});
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;

		transition: height .25s linear;

		.tab {
			font-size: 2em;
			color: $tab-color !important;
			text-decoration: none;
			margin: 0 0 1em;
		}
		
		.tab.active {
			text-decoration: underline;
		}
	}

	img {
		height: calc(#{$nav-height} - 10px);
		min-width: calc(#{$nav-height} - 10px);
		margin: 5px;
	}

	@media screen and (min-width: $nav-collapse) {
		.container {
			justify-content: flex-start;
		}

		#menu {
			display: none;
		}

		nav {
			display: flex !important;
			position: static;
			flex-direction: row;
			align-items: flex-start;
			height: $nav-height !important;
			transition: none;
			
			.tab {
				display: flex;
				align-items: flex-end;
				margin: 0 10px;
				padding: 0 1px;
				text-decoration: none;
				border-bottom: 2px solid $tab-color;
				height: calc(100% - 2px);
				font-size: 1.1em;
			}

			.tab.active {
				text-decoration: none;
				border-bottom: 5px solid $tab-color;
				height: calc(100% - 5px);
			}
		}
	}
}
