@import "colors";
@import "variables";

$em-color:		$text-color	!default;
$strong-color:	$text-color	!default;
$quote-color:	$text-color	!default;
$h1-color:		$text-color	!default;
$h2-color:		$h1-color	!default;
$h3-color:		$h2-color	!default;
$h4-color:		$h3-color	!default;
$h5-color:		$h4-color	!default;
$h6-color:		$h5-color	!default;
$margins:		$bg			!default;
$quote-bg:		$bg			!default;

@import "a";
@import "blockquote";
@import "body";
@import "center";
@import "container";
@import "em";
@import "font";
@import "h";
@import "html";
@import "img";
@import "li";
@import "main";
@import "navigation";
@import "ol";
@import "p";
@import "pre";
@import "row";
@import "strong";
@import "target";
@import "ul";

@import "imports";
