{{ define "main" }}
	<h1 class="center">{{ .Title }}</h1>
	{{ with .Content }}
		<article>
			{{ . }}
		</article>
	{{ end }}
	<article>
		<ul>
			{{ range .Pages }}
				<li id="{{ anchorize .Title }}">
					<h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
					<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
						{{ .Date.Format "2006 Jan 02" }}
					</time> 
					&mdash;
					{{ .ReadingTime }} minute read
					&mdash;
					{{ .WordCount }} words
					<p>
						{{ strings.TrimSuffix "." .Summary | markdownify }}...
						<a href="{{ .RelPermalink }}">read more</a>
					</p>
				</li>
			{{ end }}
		</ul>
	</article>
{{ end }}
