<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{ $title := .Site.Title }}
	{{ if not .IsHome }}
		{{ with .Title }}
			{{ $title = print $.Site.Title " - " . }}
		{{ end }}
	{{ end }}
	<title>{{ $title }}</title>
	{{ $desc := .Summary }}
	{{ with .Description }}
		{{ $desc = . }}
	{{ end }}
	{{ if .IsHome }}
		{{ with .Site.Params.description }}
			{{ $desc = . }}
		{{ end }}
	{{ end }}
	<meta name="description" content="{{ $desc }}" />
	{{with .Site.Author}}
		<meta name="author" content="{{.}}" />
	{{end}}

	{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" (not hugo.IsProduction) "includePaths" (slice "assets/sass")) }}
	{{ $style := resources.Get "sass/style.scss" | resources.ToCSS $options | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">

	{{ with resources.GetMatch "favicon.*" }}
		{{ with .Resize "16x16 png" | resources.Copy "favicon16x16.png" }}
			<link rel="icon" type="image/png" href="{{ .RelPermalink }}" sizes="16x16">
		{{ end }}
		{{ with .Resize "32x32 png" | resources.Copy "favicon32x32.png" }}
			<link rel="icon" type="image/png" href="{{ .RelPermalink }}" sizes="32x32">
		{{ end }}
		{{ with .Resize "96x96 png" | resources.Copy "favicon96x96.png" }}
			<link rel="icon" type="image/png" href="{{ .RelPermalink }}" sizes="96x96">
		{{ end }}
	{{ end }}
</head>
