<div id="nav-wrapper">
	<div class="container">
		<a href="/">
			{{ with .Site.Params.logo }}
				<img src="{{ . }}" />
			{{ end }}
		</a>
		<input id="menu-checkbox" name="menu-button" type="checkbox" />
		<label id="menu" for="menu-checkbox" >
			<img id="open-menu" src="/img/menu.svg" />
			<img id="close-menu" src="/img/close.svg" />
		</label>
		<nav id="nav">
			{{ range .Site.Menus.main }}
				{{ .Pre }}
				{{ $active := $.IsMenuCurrent "main" . }}
				{{ $active = or $active ($.HasMenuCurrent "main" .) }}
				{{ $active = or $active (eq $.RelPermalink .URL) }} 
				{{ if not (eq $.Section "") }}
					{{ $active = or $active (eq $.Section .Identifier) }}
				{{ end }}
				<a href="{{ .URL }}" class="tab{{ if $active }} active{{ end }}" title="{{ .Title }}" >
					{{ .Name }}
				</a>
			{{ end }}
		</nav>
	</div>
</div>
