{{/*
book displays metadata of a given book.
It sources its data from openlibrary.org via the ISBN or OpenLibrary ID (olid)
*/}}
{{ $id := "" }}
{{ $href := "" }}
{{ $data_url := "" }}
{{ with .Get "isbn" }}
	{{ $id = . }}
	{{ $data_url = printf "https://openlibrary.org/isbn/%s.json" (replace . "-" "") }}
	{{ $href = printf "https://openlibrary.org/isbn/%s" (replace . "-" "") }}
{{ end }}
{{ with .Get "olid" }}
	{{ $id = . }}
	{{ $data_url = printf "https://openlibrary.org/book/%s.json" . }}
	{{ $href = printf "https://openlibrary.org/book/%s" (replace . "-" "") }}
{{ end }}
{{ if not $id }}
	{{ errorf "Must specify ISBN or OLID" }}
{{ end }}

{{ $data := getJSON $data_url }}
<div id="{{ $id }}" class="book">
	{{ $authors := slice }}
	{{ with $data.authors }}
		{{ $authors = $data.authors }}
	{{ else }}
		{{ with $data.works }}
			{{ range . }}
				{{ with .key }}
					{{ $work_url := printf "https://openlibrary.org%s.json" . }}
					{{ with getJSON $work_url }}
						{{ with .authors }}
							{{ range . }}
								{{ $authors = append .author $authors }}
							{{ end }}
						{{ end }}
					{{ end }}
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}
	{{ with $authors }}
		{{ $authors := slice }}
		{{ range . }}
			{{ with .key }} 
				{{ $author_url := printf "https://openlibrary.org%s.json" . }}
				{{ $author_data := getJSON $author_url }}
				{{ with $author_data.name }}
					{{ $author := . }}
					{{ if not (findRE "[A-Za-z]" .) }}
						{{ with $author_data.alternate_names }}
							{{ range . }}
								{{ if (findRE "[A-Za-z]" .) }}
									{{ $author = . }}
									{{ break }}
								{{ end }}
							{{ end }}
						{{ end }} 
					{{ end }}
					{{ if eq (len $authors) 0 }}
						{{ with split $author " " }}
							{{ $len := len . }}
							{{ if gt $len 1 }}
								{{ $idx := sub $len 1 }}
								{{ $author = printf "%s, %s" (index . $idx) (delimit (first $idx .) " ") }} 
							{{ end }}
						{{ end }} 
					{{ end }}
					{{ $authors = append $author $authors }}
				{{ end }}
			{{ end }}
		{{ end }}
		{{ with $authors }}
			{{ strings.TrimSuffix "." ( delimit . ", " ", and " ) }}.
		{{ end }}
	{{ end }}
	{{ with $data.title }}
		<cite>
			{{ strings.TrimSuffix "." . }}{{ with $data.subtitle }}: {{ strings.TrimSuffix "." . }}{{ end }}.
		</cite>
	{{ end }}
	{{ with $data.contributions }}
		{{ range . }}
			{{ if strings.HasSuffix . " (Translator)" }}
				Translated by {{ strings.TrimSuffix " (Translator)" . }},
			{{ else }}
				{{ strings.TrimSuffix "." . }},
			{{ end }}
		{{ end }}
	{{ end }}
	{{ with $data.publishers }}
		{{ delimit . "; " }}{{ if or (gt (len .) 1) (not $data.publish_date) }}.{{ else }},{{ end }}
	{{ end }}
	{{ with $data.publish_date }}
		{{ with findRE `\d{4}` . 1 }}
			{{ index . 0 }}.
		{{ end }} 
	{{ end }}
	<a href="#{{ $id }}" style="text-decoration: none;">#</a>
	<a href="{{ $href }}" target="_blank" style="text-decoration: none;">📖</a>
</div>
